<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"/>
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>TodoPeliculas | Nueva película</title>
</head>
<body>

<div class="container">
    <h2 class="text-secondary mt-4 border border-success border-top-0 border-left-0 border-right-0">Editar pelicula</h2>

    <form th:action="@{/peliculas/guardar}" method="post" th:object="${pelicula}" enctype="multipart/form-data">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="row mb-3">
            <div class="col-12 form-group mt-2 mb-2">
                <label for="inputTitulo">Título</label>
                <input type="text" class="form-control" id="inputTitulo" th:field="*{titulo}" name="titulo" placeholder="Inserte un título">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 form-group mb-2">
                <label for="inputDireccion">Dirección</label>
                <input type="text" class="form-control" id="inputDireccion" th:field="*{direccion}" name="direccion">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-5 form-group mb-2">
                <label for="inputGenero">Género de la película</label>
                <select class="form-control" id="inputGenero" th:field="*{genero}" name="genero">
                    <option value="Ciencia ficción, Aventura">Ciencia ficción, Aventura</option>
                    <option value="Suspense">Suspense</option>
                    <option value="Acción">Acción</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Musicales">Musicales</option>
                    <option value="Bélicas">Bélicas</option>
                </select>
            </div>
            <div class="col-4 form-group mb-2">
                <label for="inputPais">País</label>
                <input type="text" class="form-control" id="inputPais" th:field="*{pais}" name="pais">
            </div>
            <div class="col-2 form-group mb-2">
                <label for="inputFecha">Año de estreno</label>
                <input class="date-own-year form-control" type="text" id="inputFecha" th:field="*{anno}" name="anno" autocomplete="off">
            </div>
            <div class="col-1 form-group mb-2">
                <label for="inputDuracion">Duración</label>
                <input type="number" class="form-control" id="inputDuracion" th:field="*{duracion}" name="duracion">
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 form-group">
                <label for="inputActores">Actores</label>
                <select class="form-control selectpicker" id="inputActores" name="actoresSelected" data-live-search="true" multiple>
                    <option th:each="actor : ${actoresList}"
                            th:value="${actor.getId()}"
                            th:text="${actor.getNombre()}"
                            th:selected="${#lists.contains(actoresSelected,actor.getId())}">
                    </option>
                </select>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 form-group mb-2">
                <label for="inputSinopsis">Sinopsis</label>
                <textarea class="form-control" id="inputSinopsis" rows="3" th:field="*{sinopsis}" name="sinopsis"></textarea>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-8">
                <div class="form-group mb-2">
                    <label for="inputPortada">Portada</label>
                    <input type="file" class="form-control-file" id="inputPortada" name="file">
                </div>
                <img th:if="${pelicula.portada != null && #strings.length(pelicula.portada) > 0}" class="img-thumbnail rounded float-left"
                     style="max-width: 25%;" th:src="@{'/peliculas/images/' + ${pelicula.portada}}"
                     th:alt="${pelicula.portada}"/>

                <img th:if="${pelicula.portada == null || #strings.length(pelicula.portada) == 0}" class="img-thumbnail rounded float-left"
                     style="max-width: 25%;" th:src="@{'/peliculas/images/not-available.png'}"
                     th:alt="${pelicula.portada}"/>
            </div>
            <div class="col-4 align-self-center">
                <button type="submit" class="btn btn-primary mr-2" th:text="${msgSubmit}"></button>
                <a th:href="@{/peliculas/}" class="btn btn-danger btn-primary ml-2">Cancelar</a>
            </div>
        </div>

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{portada}"/>
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script th:src="@{/jss/form.js}"></script>
</body>
</html>