<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>TodoPeliculas | Sinopsis y comentarios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container py-4">

    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>

    <div class="card bg-light">
        <div class="card-header">Ficha de la película</div>
        <div class="card-body">

            <img th:if="${#strings.length(pelicula.portada) > 0}" class="img-thumbnail rounded float-left"
                 style="max-width: 25%;" th:src="@{'/peliculas/images/' + ${pelicula.portada}}"
                 th:alt="${pelicula.portada}" />

            <img th:if="${#strings.length(pelicula.portada) <= 0}" class="img-thumbnail rounded float-left"
                 style="max-width: 25%;" th:src="@{'/peliculas/images/not-available.png'}"
                 th:alt="${pelicula.portada}" />

            <ul class="list-group">
                <li class="list-group-item" th:text="${pelicula.titulo}"></li>
                <li class="list-group-item" th:text="${pelicula.duracion}"></li>
                <li class="list-group-item" th:text="${pelicula.anno}"></li>
                <li class="list-group-item" th:text="${pelicula.direccion}"></li>
                <li class="list-group-item" th:text="${pelicula.pais}"></li>
                <li class="list-group-item" th:text="${pelicula.sinopsis}"></li>
                <li class="list-group-item" th:text="${nota}"></li>
            </ul>

            <h6>Actores:</h6>
            <ul class="list-group">
                <li th:each="actor:${pelicula.actores}"><a th:text="${actor.nombre}" th:href="@{/actores/informacion/{id} (id=${actor.id})}"></a></li>
            </ul>

        </div>
    </div>
    <hr>
    <a class="btn btn-primary row d-flex justify-content-center" role="button" th:href="@{/peliculas/}">Volver al listado de peliculas</a>

    <br><br>
    <h2 class="text-secondary mt-4 mb-3 border border-success border-top-0 border-left-0 border-right-0">Comentarios:</h2>

    <br>

    <form th:action="@{/peliculas/informacion/{id} (id=${pelicula.id})}" method="get" enctype="multipart/form-data">
        <div class="form-group">
            <div class="form-check">
                <input type="radio" id="optionTodos" name="filtroCritica" class="form-check-input" value="0" th:selected="(${filtroCritica} == '0')" >
                <label for="optionTodos" class="form-check-label">Todos los comentarios</label>
            </div>
            <div class="form-check">
                <input type="radio" id="optionPositivos" name="filtroCritica" class="form-check-input" value="1" th:selected="(${filtroCritica} == '1')">
                <label for="optionPositivos" class="form-check-label">Mostrar comentarios positivos</label>
            </div>
            <div class="form-check">
                <input type="radio" id="optionNegativos" name="filtroCritica" class="form-check-input" value="2" th:selected="(${filtroCritica} == '2')">
                <label for="optionNegativos" class="form-check-label">Mostrar comentarios negativos</label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Filtrar</button>
    </form>

    <table class="table table-hover mt-2">
        <tbody>
            <tr th:each="critica : ${criticas}">
                <div class="card bg-light mb-2">
                    <div class="card-header" th:if="${critica.usuario != null}" th:text="${critica.usuario.username + ' | ' + #dates.format(critica.fecha, 'dd-MM-yyyy')}"></div>
                    <div class="card-header" th:if="${critica.usuario == null}" th:text="${'Usuario desconocido | ' + #dates.format(critica.fecha, 'dd-MM-yyyy')}"></div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item" th:text="${critica.valoracion}"></li>
                            <li class="list-group-item" th:text="${critica.nota}"></li>
                        </ul>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
    <nav th:replace="paginator-nav :: paginator"></nav>

    <div class="card bg-light mt-3">
        <div class="card-header">Publicar comentario</div>
        <div class="card-body">

            <ul class="list-group">
                <li class="list-group-item">
                    <form th:action="@{/criticas/guardar}" method="post" th:object="${critica}" enctype="multipart/form-data">
                        <label for="inputValoracion">Reseña:</label>
                        <textarea class="form-control" id="inputValoracion" rows="3" th:field="*{valoracion}" name="valoracion"></textarea>
                        <label for="inputNota">Nota</label>
                        <input type="number" class="form-control" id="inputNota" th:field="*{nota}" name="nota">
                        <input type="hidden" th:field="*{peliculaId}" />
                        <br><br>
                        <button type="submit" class="btn btn-primary mr-2">Publicar comentario</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>