<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <meta charset="UTF-8">
    <title>TodoPeliculas | Registro</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">

    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>

    <h2 th:text="${titulo}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/usuarios/guardar}" method="post" th:object="${usuario}">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" th:field="*{username}" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del usuario" required="required">
        </div>
        <div class="mb-3">
            <label for="clave" class="form-label">Clave</label>
            <input type="password" class="form-control" id="clave" name="newPassword"
                   placeholder="Escriba la clave del usuario">
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="text" class="form-control" th:field="*{correo}" id="correo" name="correo"
                   placeholder="Escriba el correo del usuario" required="required">
        </div>
        <div sec:authorize="hasRole('ADMIN')" class="mb-3">
            <select class="form-select" th:field="*{enable}" name="enable" id="enable" required="required">
                <option th:value="1" selected>Activo</option>
                <option th:value="0">Desactivado</option>
            </select>
        </div>
        <div sec:authorize="hasRole('ADMIN')" class="mb-3">
            <label class="form-check-label">Seleccionar ROL:
            </label>
            <br>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" name="roles"
                       th:each="rol : ${allRoles}"
                       th:text="${rol}"
                       th:value="${rol}"
                       th:field="*{roles}"
                >
            </div>
        </div>

        <button type="submit" class="btn btn-dark">Guardar</button>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{password}"/>
        <input sec:authorize="hasRole('USER')" type="hidden" th:field="*{enable}"/>
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/home}">Ir a Inicio</a>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>