<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>TodoPeliculas | Listado de usuarios</title>
</head>
<body>

<div class="container">

    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>

    <h2 class="text-secondary mt-4 mb-3 border border-success border-top-0 border-left-0 border-right-0">Usuarios</h2>

    <h5 class="text-secondary mt-4 border border-success border-top-0 border-left-0 border-right-0">Buscador de usuarios</h5>
    <form th:action="@{/usuarios/listado}" method="get">
        <div class="mb-5">
            <label for="correo" class="form-label">Búsqueda por correo:</label>
            <input type="text" class="form-control" id="correo" name="correo"
                   placeholder="Escriba el correo del usuario" th:value="${correo}">

            <label for="username" class="form-label">Búsqueda por nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="username"
                   placeholder="Escriba el nombre del usuario" th:value="${username}">
        </div>
        <button type="submit" class="btn btn-primary">Búsqueda</button>
    </form>

    <table class="table table-hover">

        <thead class="thead-light">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th sec:authorize="hasRole('ADMIN')" scope="col">Rol</th>
            <th sec:authorize="hasRole('ADMIN')" scope="col">Activo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${listadoUsuarios}">
            <td th:text="${usuario.username}"></td>
            <td th:text="${usuario.correo}"></td>
            <td sec:authorize="hasRole('ADMIN')" th:text="${usuario.roles}"></td>
            <td sec:authorize="hasRole('ADMIN')" th:text="${usuario.enable}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/usuarios/eliminar/{id} (id=${usuario.id}) }" th:text="'Borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el usuario."><i class="fas fa-trash" aria-hidden="true"></i></a>
                <a th:href="@{/usuarios/editar/{id} (id=${usuario.id}) }" th:text="'Editar'" class="btn btn-success btn-sm" role="button" title="Editar el curso."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
            </td>
        </tr>
        </tbody>

    </table>
    <nav th:replace="paginator-nav :: paginator"></nav>
    <br><br>
    <div class="row d-flex justify-content-center">
        <div class="text-center">
            <a th:href="@{/home}" class="btn btn-danger btn-primary">Volver al inicio</a>
        </div>
    </div>

</div>



<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>