<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <meta charset="UTF-8">
    <title>TodoPeliculas | Aplicación de gestión de peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 class="text-center">TodoPeliculas: Tu enciclopedia de películas favorita</h1>
    <hr>
    <div th:if="${error != null}" class='alert alert-success' th:text="${error}" role='alert'></div>
    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
    <br>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Peliculas</h3>
                <a class="page-link" th:href="@{/peliculas/}">
                    Listado peliculas
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Actores</h3>
                <a class="page-link" th:href="@{/actores/}">
                    Listado Actores
                </a>
            </div>
        </div>

        <div class="card" sec:authorize="hasRole('ADMIN')">
            <div class="card-body">
                <h3 class="card-title">Gestion de criticas</h3>
                <a class="page-link" th:href="@{/criticas/}">
                    Listado criticas
                </a>
            </div>
        </div>

        <div class="card" sec:authorize="hasRole('ADMIN')">
            <div class="card-body">
                <h3 class="card-title">Gestion de usuarios</h3>
                <a class="page-link" th:href="@{/usuarios/listado}">
                    Listado Usuarios
                </a>
                <a class="page-link" th:href="@{/usuarios/nuevo}">
                    Crear nuevo usuario
                </a>
            </div>
        </div>

        <div class="card" sec:authorize="hasRole('USER')">
            <div class="card-body">
                <h3 class="card-title">Gestion de cuenta</h3>
                <a class="page-link" th:href="@{/usuarios/editar-profile}">
                    Modificar cuenta
                </a>
                <a th:href="@{/usuarios/borrar-profile}" th:text="'Borrar cuenta'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm mt-1" role="button" title="Eliminar el usuario."><i class="fas fa-trash" aria-hidden="true"></i></a>
                </a>
            </div>
        </div>

    </div>

    <br><br>

    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <a th:href="@{/logout}" class="btn btn-primary">Cerrar sesion</a>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>