<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>TodoPeliculas | Actores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header">Ficha del actor</div>
        <div class="card-body">

            <ul class="list-group">
                <li class="list-group-item" th:text="${actor.nombre}"></li>
                <li class="list-group-item" th:text="${actor.paisNacimiento}"></li>
                <li class="list-group-item" th:text="${actor.genero}"></li>
                <li class="list-group-item" th:text="${#dates.format(actor.fechaNacimiento, 'dd-MM-yyyy')}"></li>
            </ul>
            <br>
            <h6>Peliculas:</h6>
            <ul class="list-group">
                <li th:each="pelicula:${actor.peliculas}"><a th:text="${pelicula.titulo}" th:href="@{/peliculas/informacion/{id} (id=${pelicula.id})}"></a></li>
            </ul>

        </div>
    </div>
    <hr>
    <a class="btn btn-primary row d-flex justify-content-center" role="button" th:href="@{/actores/}">Volver al listado de actores</a>
</div>

</body>
</html>