<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <meta charset="UTF-8">
    <title>TodoPeliculas | Gestion de criticas</title>
</head>
<body>

<div class="container">

    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>

    <h2 class="text-secondary mt-4 mb-3 border border-success border-top-0 border-left-0 border-right-0">Críticas</h2>

    <h5 class="text-secondary mt-4 border border-success border-top-0 border-left-0 border-right-0">Buscador de críticas</h5>
    <form th:action="@{/criticas/}" method="get">
        <div class="mb-5">
            <label for="idpelicula" class="form-label">Búsqueda por película:</label>
            <select class="form-control selectpicker" id="idpelicula" name="idpelicula" data-live-search="true">
                <option value="0" selected disabled hidden>Introduce título de la película</option>
                <option th:each="pelicula : ${listadoPeliculas}"
                        th:value="${pelicula.getId()}"
                        th:text="${pelicula.getTitulo()}"
                        th:selected="${#lists.contains(listadoPeliculas,pelicula.getId())}">
                </option>
            </select>

            <label for="username" class="form-label">Búsqueda por usuario</label>
            <input type="text" class="form-control" id="username" name="username"
                   placeholder="Escriba el nombre del usuario" th:value="${username}">
        </div>
        <button type="submit" class="btn btn-primary">Búsqueda</button>
    </form>
    <table class="table table-hover mt-5">

        <thead class="thead-light">
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">ID de la película</th>
            <th scope="col">Fecha</th>
            <th scope="col">Nota</th>
            <th scope="col">Evaluación</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="critica : ${listadoCriticas}">
            <td th:if="${critica.usuario != null}" th:text="${critica.usuario.username}"></td>
            <td th:if="${critica.usuario == null}">Usuario eliminado</td>
            <td th:text="${critica.peliculaId}"></td>
            <td th:text="${#dates.format(critica.fecha, 'dd-MM-yyyy')}"></td>
            <td th:text="${critica.nota}"></td>
            <td th:text="${critica.valoracion}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/criticas/eliminar/{id} (id=${critica.id}) }" th:text="'Borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el actor."><i class="fas fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
        </tbody>

    </table>
    <nav th:replace="paginator-nav :: paginator"></nav>
    <br><br>
    <div class="row d-flex justify-content-center">
        <div class="text-center">
            <a th:href="@{/home}" class="btn btn-danger btn-primary">Volver al inicio</a>
        </div>
    </div>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</body>
</html>